.contents{
    display: flex;
}
.contents>div:nth-child(1){
    flex-grow: 1;
    min-width: 12em;
}
.contents>div:nth-child(2){
    flex-grow: 5
}

.container {
  background-color: white;
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 70em;
}
.block{
    text-align: left;
    padding: 0 2em;
}
.hidden{
    visibility: hidden;
}
.hidden-not-displayed{
    display: none;
}
.kotlin-logo-large{
    width: 20%;
}